html {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
}

h1 {
  color: #878;
  font-size: 24px;
  line-height: 28px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

#wind {
  text-transform: lowercase;
}

#icon {
  width: 20%;
}

#current-weather {
  margin-top: 20px;
}

#temperature {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-forecast-temperature-min {
  color: #878;
}

.units {
  font-size: 16px;
  position: relative;
  top: -34px;
}

form {
  display: fixed;
  right: 0;
}
